* {
    box-sizing: border-box;
}

html,
body {
    color: #636363;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "EnBW Regular", sans-serif;
}

#header {
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #636363;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

#header img {
    height: 60px;
    margin-left: 10px;
}

#header h1 {
    margin: 0 auto;
    padding: 0;
    color: #636363;
    font-weight: 500;
    font-size: 36px;
    text-align: right;
}

.rc-slider-track {
    background-color: #7cbe82;
}

.rc-slider-dot-active {
    border-color: #7cbe82;
    border: solid 2px #7cbe82;
}

.rc-slider-handle {
    background-color: #7cbe82;
    border-color: #7cbe82;
}

.rc-slider-handle:hover {
    border-color: #7cbe82;
}

.rc-slider-handle-active:active {
    border-color: #7cbe82;
}
